<% if @posts.any? %>
	<ul>
	  <% @posts.each do |post| %>
	  	<li><%= post.title %></li>
	  	<%= image_tag post.picture.url(:medium), class: 'uploaded_picture' %>
		<% end %>
	</ul>
<% else %>
  Welcome to Instaham!
<% end %>